.result {
  position: absolute;
  top: 0;
  left: 0;

  .colors {
    display: flex;

    .mainContainer {
      display: flex;
      flex-direction: column;
      height: 200px;
      width: 200px;
      font-size: 20px;
    }

    .subContainer {
      display: flex;
      flex-direction: column;

      div {
        height: 40px;
        width: 100px;
        font-size: 12px;
      }
    }
  }
}
